# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/profiles.yml

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Airflow
airflow/logs/
airflow/plugins/

# OS
.DS_Store
*.swp
*.swo

# IDE
.vscode/
.idea/

# Docker
*.log
