# Secrets
.env

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/profiles.yml

# Airflow
airflow/logs/

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store
*.swp
*.swo

# IDE
.vscode/
.idea/

# Docker
*.log
